# Docker ignore
node_modules
vendor
.git
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
*.log
.DS_Store
tests/
.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea
.vscode